body {
    font-family: Arial, sans-serif;
    background-color: #3a8af1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #3a8af1;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #3a8af1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #3a8af1;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #3a8af1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #2a6ad1; /* Tom mais escuro do azul para hover */
}

.back-btn {
    background-color: #3a8af1;
    margin-top: 10px;
}

.back-btn:hover {
    background-color: #2a6ad1;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
}

.alert-success {
    background-color: #28a745;
}

.alert-error {
    background-color: #dc3545;
}