<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel do Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrador.css') }}">
    <link rel="shortcut icon" type="imagex/png" href="/static/images/icone.ico">
</head>
<body>

    <div class="top-controls">
        <h1>Painel do Administrador</h1>
        <a href="{{ url_for('logout') }}">
            <button class="btn logout">Sair</button>
        </a>
    </div>

    <a href="{{ url_for('cadastrar_produto') }}">
        <button class="btn">+ Cadastrar Novo Produto</button>
    </a>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Foto</th>
                    <th>Valor (R$)</th>
                    <th>Desconto (%)</th>
                    <th>Estoque</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td><img src="{{ produto.foto_url }}" alt="Imagem do Produto"></td>
                    <td>{{ produto.valor }}</td>
                    <td>{{ produto.desconto or '0' }}</td>
                    <td>{{ produto.estoque }}</td>
                    <td class="actions">
                        <a href="{{ url_for('editar_produto', id=produto.id) }}">
                            <button class="btn">Editar</button>
                        </a>
                        <a href="{{ url_for('remover_produto', id=produto.id) }}">
                            <button class="btn btn-remover">Remover</button>
                        </a>
                        <a href="{{ url_for('ajustar_estoque', id=produto.id) }}">
                        <button class="btn btn-estoque">Estoque</button>
                        </a>

                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8" style="text-align:center;">Nenhum produto cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
